In [2]:
import pandas as pd

In [3]:
test_case = pd.read_excel(r"C:\Users\Puja\Downloads\Book4.xlsx")

In [3]:
#dataframe for testing the code
test_case

  name  xmin  ymin  xmax  ymax
0    1   230    70   277   121
1    1   145    24   174    64
2    2   174    22   216    64
3    5   104    75   164   124
4    6   168    71   229   121
5    9    38    80   101   124
6    G   228    18   276    61
7    H    84    26   128    69
8    J    45    28    82    70

In [4]:
example_list = []
for i in range(len(test_case)):
    example_list.append(list(test_case.iloc[i].values))

In [5]:
#in list of lists form to feed to the function made below
example_list

[['1', 230, 70, 277, 121],
 ['1', 145, 24, 174, 64],
 ['2', 174, 22, 216, 64],
 ['5', 104, 75, 164, 124],
 ['6', 168, 71, 229, 121],
 ['9', 38, 80, 101, 124],
 ['G', 228, 18, 276, 61],
 ['H', 84, 26, 128, 69],
 ['J', 45, 28, 82, 70]]

In [6]:
#required fn. with correct plate sequence 
#the input format taken as a list of lists
#1st elements of the lists are the characters returned by the obj detection model in that order
#next four elements are the bounding box dimensions (xmin, ymin, xmax, ymax) of the respective chars
def corr_seq(b_box_list):
    y_min_list = []
    upper_col_chars = []
    lower_col_chars = []
    for items in b_box_list:
        y_min_list.append(items[2])
    min_ymin = min(y_min_list)
    max_ymin = max(y_min_list)
    for items in b_box_list:
        if (min_ymin + 14 > items[2]):
            upper_col_chars.append(items)
        else:
            lower_col_chars.append(items)
    return cor_seq_line(upper_col_chars) + cor_seq_line(lower_col_chars)

In [7]:
#function to return correct sequence of characters which are in one line
def cor_seq_line(list_list_chars):
    string = ''
    x_min_list = []
    for ele in list_list_chars:
        x_min_list.append(ele[1])
    list1 = sorted(x_min_list)
    for i in list1:
        indx = x_min_list.index(i)
        string += list_list_chars[indx][0]
    return string

In [8]:
print('Correct sequence of the characters on number plate :',corr_seq(example_list))

Correct sequence of the characters on number plate : JH12G9561